::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
 background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.2);

}


.left{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 280px;
    background: #fff;
    cursor: pointer;
}

.sidebar{
    width: 100%;
    height: 100%;
    box-shadow: -2px 1px 5px #333;
}

.sidebar-header{
    height: 56px;
    width: 100%;
    background:#fff;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    border-bottom: 1px solid rgb(145, 145, 145);

}


.sidebar-inner{
    width: 100%;
    position: absolute;
    top: 57px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    
    
}




.side-list li{
   
    padding: 0 8px 0 8px;
    height: 48px;
    line-height: 48px;
    background: #fff;
    transition-duration: .2s;
}

.side-list li div{
    display: inline-block;

}

.side-list li .list-logo{
    width: 24px;
    height: 24px;
    vertical-align: sub;
}



.side-list li .list-logo .icon-dayli{
    display: block;
    background-image: url('./icon/dayli.svg');
    background-size: cover;
    width: 100%;
    height: 100%;

}

.side-list li .list-logo .icon-list{
    display: block;
    background-image: url('./icon/list.svg');
    background-size: cover;
    width: 100%;
    height: 100%;

}

.side-list li .list-logo .icon-todo{
    display: block;
    background-image: url('./icon/account.svg');
    background-size: cover;
    width: 100%;
    height: 100%;


}


.side-list li .list-logo .icon-add{
    display: block;
    background-image: url('./icon/add.svg');
    background-size: cover;
    width: 100%;
    height: 100%;

}

.list-title{
    margin-left: 6px;
}




.side-list li:hover{
    background: rgb(247, 247, 247);
}

.user{
    display: flex;
    /* flex: 8; */
    width: 216px;
    padding: 4px;
    margin: 2px;
    line-height: 44px;
    align-items: center;
    border-radius: 3px;
}

.user:hover{
    background-color: rgb(241, 241, 241); 
}


.select-btn{
    flex: 1;
    padding: 14px;
    margin: 2px 0;
    line-height: 44px;
    border-radius: 3px;
}

.select-btn:hover{
    background-color: rgb(241, 241, 241);
}

.icon-select{
   
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('./icon/select.svg');
    background-size: cover;
}



.user-head{
    width:32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('./icon/user.svg');
    background-size: cover;
    background-color: rgb(172, 172, 172);
    margin-right: 6px;
}

.side-list .active{
    background-color: rgb(237, 237, 237);
    font-weight: 600
}


.dialog{
    position: absolute;
    display: none;
    cursor: pointer;

    background-color: #fff;

    width: 200px;
    padding: 6px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.dialog .dialog-inner li{
    height: 48px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}
.dialog .dialog-inner li i{
    display: inline-block;
    width: 24px;
    height: 24px;

}

.dialog .dialog-inner .dialog-text{
    line-height: 48px;
    color: #5f5f5f;
    padding-left: 8px;
}

.dialog-hr{
    margin: 6px 0;
    height: 0;
    padding: 0;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-bottom: 1px solid rgba(0,0,0,.08);
}

.dialog  li:hover{
    background-color:rgb(241, 241, 241);  
}

.dialog .dialog-warrin li{
    height: 48px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}
.dialog .dialog-warrin li i{
    display: inline-block;
    width: 24px;
    height: 24px;

}

.dialog .dialog-warrin .dialog-text{
    line-height: 48px;
    color: #d81e06;
    padding-left: 8px;
}
.dialog .none{
    display: none;
}


.right{
    position: absolute;
    top: 0;
    left: 280px;
    right: 0;
    bottom: 0;
    padding: 20px;
}